<nav class="navbar navbar-expand-lg navbar-light mb-3 ps-2" style="background-color: #aa16be;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  d-flex justify-content-between " id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class=" d-flex nav-item nav-link active" routerLink="/">Home </a>
        <a class="d-flex nav-item nav-link" routerLink="/addMovie">Add Movie</a>
    </div>  
    <div class="navbar-nav">
        <a class="d-flex nav-item nav-link" routerLink="/login">Login</a>
        <a class="d-flex nav-item nav-link" routerLink="/login" [queryParams]="{logout:true}">Logout</a>
        <!-- [queryParams]="{logout:true}" -->
      </div>
  </div>
</nav>