
<div class="row justify-content-md-center gap-3">


    <div *ngFor="let movie of movieList" class="card col-lg-5 ">
        <div class="card-header">
            <h5 class="card-title">{{movie.name}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{movie.lang}}</p>
            <p class="card-text">{{movie.price | currency:'INR'}}</p>
            <p class="card-text">{{movie.year}}</p>
            <p><button class="btn btn-primary">Book Ticket</button></p>

        </div>
    </div>
</div>